<style >
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: right;
}



    header a {
        color: #fff;
        text-decoration: none;
        margin: 0 5px;
        transition: color 0.3s ease;
    }

        header a:hover {
            color: #ff6600;
        }

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    height:5%;
    width: 100%;
}

.content {
    flex-grow: 1;
    text-align: left;
    padding: 50px;
    margin-bottom: 10px;
}

    .content h1 {
        margin-bottom: 10px;
        margin-top: -20px; /* отрицательный margin-top для поднятия заголовка */
    }

    .content p {
        margin-bottom: 20px;
    }

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.header-link {
    display: block;
    color: white; /* делаем текст белым */
    font-size: 18px;
}



button {
    background-color: #ff6600;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #333;
    }

</style >
